body {
    background-color: #ffffff;
    color: black;
    font-family: Microsoft JhengHei;
}

.series {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

/* Navbar */

.navbar {
    width: 100%;
    height: auto;
    background-color: #50bddf;
    color: white;
}

.nav-item {
    padding-right: 10px;
    font-size: 1rem;
}

.nav-link {
    color: white;
}

.navbar-img {
    height: 2rem;
    width: auto; 
}

/* container */

.header {
    margin-top: 1rem;
    font-weight: bolder;
}

.series-header {
    position: relative;
    top: 10%;
}

.course-detail {
    word-wrap: break-word;
    letter-spacing: 0.1rem;
}

.ntu-img {
    width: 100%;
    height: auto;
}

.series-title {
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}

.course {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.course-button {
    float: right;
    margin-top: 1rem;
}

.course-detail {
    margin-top: 1rem;
}

.course-header {
    margin-top: 1rem;
}

.course-header > h1 {
    font-weight: bold;
}

.featurette-divider {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* footer section */

footer {
    color: black;
    padding: 32px;
}

footer a {
    color: black;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.web {
    display: block;
}

.web > p {
    font-size: 0.8rem;
}

.phone {
    display: none;
}

@media (max-width: 575px) {
    h1 {
        font-size: 1rem;
    }
    
    h2 {
        font-size: 0.8rem;
    }

    h5 {
        font-size: 0.6rem;
    }

    .series-title {
        font-size: 2rem;
    }

    .featurette-divider {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .course {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .course-detail {
        font-size: 0.8rem;
    }

    .web {
        display: none;
    }

    .phone {
        display: block;
    }

    .phone > img {
        width: 100%;        
    }

    footer > p {
        font-size: 0.5rem;
    }
}