/* GLOBAL STYLES
-------------------------------------------------- */

/* @import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);
* {
    font-family: 'Noto Sans Kannada', sans-serif;
}

* {
    /* border: 2px solid rebeccapurple; */
/*}  */


/* Padding below the footer and lighter body text */

body {
    font: 400 1rem/1.8 Lato, sans-serif;
    background-color: #283542;
    background-color: #f0ebe6;
    background-color: #1A96F5;
    background-color: #7dd7c7;
    color: black;
}

.series {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 0.7rem;
}

/* Navbar */

.navbar {
    background-color: #99d0fc;
    background-color: #7aa7c9;
    background-color: #7dd7c7;
    opacity: 0.8;
    color: white;
}

.nav-item {
    padding-right: 10px;
    font-size: 1rem;
}


/* /////////////// */

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.container-fluid {
    /* border: 2px solid blue; */
    background-color: #283542;
    background-color: #99d0fc;
    background-color: #7dd7c7;
}

.row {
    width: 100%;
    height: 100%;
    color: white;
    color: black;
}

.col-6 {
    /* border: 2px solid white; */
}

.left {
    padding: 25% 10% 10% 10%;
    /* border: 2px solid yellow; */
}

.left h1 {
    margin-bottom: 40px;
    animation-duration: 2s;
    animation-name: fadeInUp;
    font-size: 3.75rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: white;
}

.left h4 {
    margin-bottom: 20px;
    animation-duration: 2s;
    animation-name: fadeInUp;
    font-weight: bold;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col {
    padding-right: 0;
    padding-left: 0;
}

.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

#sep {
    margin: 5% 50px;
    /* border: 2px solid black; */
    background-color: #7dd7c7;
}

/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.marketing h1 {
    margin: 3rem 0rem 0rem 0rem;
    width: 100%;
    font-size: 3rem;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 0.6rem;
    display: flex;
    justify-content: center;
}

.marketing h3 {
    color: #fff;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.detail,
.detail h3 {
    color: #222;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem auto;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: normal;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* equal card height */

.row-equal>div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}
@media (min-width: 576px) {
    .row-equal .card {
        width: 100%;
        height: 16.2rem;
    }
    
    .card-wrapper {
        height: 17rem;
    }
    
    /* control image height */
    .card-img-top {
        height: 30%;
    }
    
    .card-img-top > img {
        max-height: 100%;
    }
    
    .card-img-top-250 {
        margin-top: 1rem;
        max-height: 16.6rem;
        max-width: 100%;
        overflow: visible;
    }
}


/* responsive */
@media (max-width: 575px) {    
    .card-wrapper {
        height: 7rem;
    }

    .row-equal .card {
        width: 100%;
        height: 6.5rem;
    }
    
    /* control image height */
    .card-img-top {
        height: 100%;
        width:40%;
    }
    
    .card-img-top > img {
        position: relative;
        max-width: 100%;
    }
    
    .card-img-top-250 {
        max-width: 40%;
        overflow: visible;
    }
}
.m-t-0 {
    height: 600px;
    /* display: flex;
    align-items: center; */
    margin: 0 auto;
    padding-top: 50px;
}

/* footer section */

footer {
    color: #f5f5f5;
    color: black;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
    color: black;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}


/* modal */

.modal-header,
.close {
    background-color: #283542;
    background-color: #99d0fc;
    color: #fff !important;
    text-align: center;
    font-size: 1.875rem;
}

.modal-header,
.modal-body {
    padding: 40px 50px;
}

.detail_act {
    height: 200px;
}

.in_btn {
    background-color: #3888cd;
    color: initial;
    /*   讓連結文字回到初值 */
    text-decoration: initial;
    color: #fff;
}

.in_btn:hover {
    opacity: 0.8;
    background-color: #3888cd;
}

.in_btn img {
    height: 10%;
    width: 10%;
}

a:link a:visited {
    text-decoration: none;
    color: #fff;
}

.series > img {
    max-width: 100%;
}

.row {
    margin: 0;
}

.ntu-img {
    width: 100%;
    height: auto;
}

.ntu_content > h2 {
    letter-spacing: 0.2rem;
    font-weight: bolder;
} 

.ntu_content > h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}