body {
    background-color: #ffffff;
    color: black;
}

.series {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 0.7rem;
}

/* Navbar */

.navbar {
    background-color: #50bddf;
    color: white;
}

.nav-item {
    padding-right: 10px;
    font-size: 1rem;
}

/* top banner */

/* container */

.container-fluid {
    background-color: #ffffff;
}

.row {
    width: 100%;
    height: 100%;
    color: white;
    color: black;
}

.left {
    padding: 25% 10% 10% 10%;
    /* border: 2px solid yellow; */
}

.left h1 {
    margin-bottom: 40px;
    animation-duration: 2s;
    animation-name: fadeInUp;
    font-size: 3.75rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: white;
}

.left h4 {
    margin-bottom: 20px;
    animation-duration: 2s;
    animation-name: fadeInUp;
    font-weight: bold;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col {
    padding-right: 0;
    padding-left: 0;
}

.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

#sep {
    margin: 5% 50px;
}

/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.marketing > h1 {
    margin: 3rem 0rem 0rem 0rem;
    width: 100%;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 0.6rem;
    display: flex;
    justify-content: center;
}

.marketing h3 {
    color: #fff;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.detail,
.detail h3 {
    color: #222;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem auto;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: normal;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* equal card height */

.row-equal>div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

@media (min-width: 576px) {
    .ntu_content {
        width:100%;
        text-align: center;
    }
    .ntu_content > h2 {
        font-size: 3rem;
        width: 100%;
        letter-spacing: 0.25rem;
        font-weight: bolder;
        margin-bottom: 2rem;
    } 
    
    .ntu_content > h5 {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .row-equal .card {
        width: 100%;
        height: 16.2rem;
    }
    
    .card-wrapper {
        height: 17rem;
    }

    .card {
        margin: 0.5rem;
    }
    
    /* control image height */
    .card-img-top {
        height: 30%;
    }
    
    .card-img-top > img {
        max-height: 100%;
    }
    
    .card-img-top-250 {
        margin-top: 1rem;
        max-height: 16.6rem;
        max-width: 100%;
        overflow: hidden;
    }

    .card > h2 {
        font-weight: bold;
    }
}


/* responsive for cellphone*/
@media (max-width: 575px) {
    .ntu_content > h2 {
        font-size: 1.1rem;
        font-weight: bolder;
        margin-left: -0.6rem;
        margin-right: -0.6rem;
    }

    .ntu_content > h5 {
        font-size: 0.7rem;
        line-height: 1.1rem;
        margin-left: -0.6rem;
        margin-right: -0.6rem;
    }
    .card-wrapper {
        height: 7rem;
    }

    .row-equal .card {
        width: 100%;
        height: 6.5rem;
    }

    .card-img-top {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-img-top > img {
        position: relative;
        padding-left: 10%;
        max-width: 100%;
        width: auto;
        display: inline-block;
        vertical-align: middle;
    }
    
    .card-img-top-250 {
        max-width: 40%;
        overflow: hidden;
    }

    .card > .detail {
        width: 55%;
        top: 5%;
        position: absolute;
        left: 42%;
    }

    .card h2 {
        margin-top: 0.4rem;
        font-weight: bolder;
        font-size: 1.0rem;
    }

    .card h3 {
        font-size: 0.7rem;
        font-weight: bold;
        line-height: 0.75rem
    }

    .card p {
        font-size: 0.6rem;
        font-weight: bold;
        line-height: 0.65rem;
        margin-bottom: 0.1rem;
    }

    .btn {
        font-size: 0.6rem;
        padding: 0.3rem 0.7rem;
    }
}

.m-t-0 {
    height: 600px;
    /* display: flex;
    align-items: center; */
    margin: 0 auto;
    padding-top: 50px;
}

/* footer section */

footer {
    color: #f5f5f5;
    color: black;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
    color: black;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

a:link a:visited {
    text-decoration: none;
    color: #fff;
}

.series > img {
    max-width: 100%;
}

.row {
    margin: 0;
}
